<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="popup.css">

  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>
<body style="width: 800px; height: 600px; overflow: hidden !important">
  <div id="app">

  </div>
  <script src="popup.js"></script>
</body>
</html>
