$text-normal: #ddd;
$text-dim: #999;
$text-dark: #666;
$primary-color: #fb772a;
$secondary-color: #e70c0c;

$input-background: #141414;
$input-border: #4e3527;
$page-background: #101010;

$background-primary: #101010;
$selected-color: #f5cbaf;
$background-selected: #412d20;


$info-color: #bda9f3;