.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-grow {
  flex-grow: 1;
}
.flex-nogrow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-noshrink {
  flex-shrink: 0;
}


.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  align-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-cross-center {
  justify-content: center;
}

.flex-self-center {
  align-self: center;
}