@font-face {
  font-family: 'overpass-mono';
  src: url('../../fonts/overpass-mono-webfont/overpass-mono-light.woff2') format('woff2');
       font-weight: 300;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-mono';
  src: url('../../fonts/overpass-mono-webfont/overpass-mono-regular.woff2') format('woff2');
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-mono';
  src: url('../../fonts/overpass-mono-webfont/overpass-mono-semibold.woff2') format('woff2');
       font-weight: 500;
       font-style: normal;
}



@font-face {
  font-family: 'overpass-mono';
  src: url('../../fonts/overpass-mono-webfont/overpass-mono-bold.woff2') format('woff2');
       font-weight: 600;
       font-style: normal;
}
